.nav-wrapper{
  background-color: var(--color-bg-dark);
  color: var(--color-white);
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--color-black);
}


.nav-links{
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.nav-link{
  text-decoration: none;
  color:var(--color-white);
  font-size: var(--font-size-small);
  font-family: var(--font-heading);
}